{% extends "admin/change_list.html" %}
{% load static%}
{% load i18n %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}
    {{ block.super }} change-list
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div id="content-main">

        {% block object-tools %}
            {% if has_add_permission %}
                <ul class="object-tools">
                    <li>
                        <a href="{{ add_url }}" class="addlink">Add {{ opts.verbose_name }}</a>
                    </li>
                </ul>
            {% endif %}
        {% endblock %}

        {% block search %}
            {% if cl.search_fields %}
                <div id="toolbar">
                    <form method="get" action="">
                        {% for pair in cl.get_filters_params_items %}
                            <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
                        {% endfor %}
                        <input type="text" name="{{ search_var }}" value="{{ cl.query }}" placeholder="Search...">
                        <input type="submit" value="{% trans 'Search' %}">
                    </form>
                </div>
            {% endif %}
        {% endblock %}

        {% block date_hierarchy %}
            {% if cl.date_hierarchy %}
                <div class="date-hierarchy">
                    {{ cl.date_hierarchy }}
                </div>
            {% endif %}
        {% endblock %}

        {% block filters %}
            {% if cl.has_filters %}
                <div id="changelist-filter">
                    <h2>{% trans 'Filter' %}</h2>
                    {{ cl.filters }}
                </div>
            {% endif %}
        {% endblock %}

        {% block result_list %}
            {% if action_form and actions_on_top and cl.result_count %}
                {% block actions_top %}
                    {% include "admin/actions.html" %}
                {% endblock %}
            {% endif %}

            {{ result_list }}

            {% if action_form and actions_on_bottom and cl.result_count %}
                {% block actions_bottom %}
                    {% include "admin/actions.html" %}
                {% endblock %}
            {% endif %}
        {% endblock %}

       {% block pagination %}
   
        {% endblock %}


    </div>

{% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
{% endblock %}
